* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #FFF;
    --secondary-color: #2F2F2F;
    --emphasis: #09F;
}

body {
    background: var(--primary-color);
}

input, textarea {
    outline: 0;
    border: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--emphasis);
    padding: 10px;
    width: 100vw;
}

header input[type="text"] {
    background: var(--primary-color);
    height: 80%;
    padding: 10px;
}

#tarea, #result {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    max-width: calc(50vw - 10px);
}

#tarea {
    background: var(--secondary-color);
    height: 420px;
}

#tarea * {
    display: block;
    background: var(--primary-color);
    margin: 20px;
    padding: 10px;
    font-size: 1rem;
}

#tarea textarea {
    min-width: calc(100%-20px);
    max-width: calc(100%-20px);
    min-height: 200px;
    max-height: 200px;
}

#tarea input[type="button"] {
    background: var(--emphasis);
    border-bottom: 5px solid #06D;
    cursor: pointer;
    transition: 0.25s;
}

#tarea input[type="button"]:focus {
    animation: "buttonPush" alternate;
    animation-duration: 0.5s;
}


@keyframes buttonPush {
    0% {
    }
    50% {
        background: #07E;
        border-bottom: 0px solid;
        transform: translateY(5px);
    }
    100% {
        background: var(--emphasis);
        border-bottom: 5px solid #06D;
    }
}