* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #fff;
    --secondary-color: #2f2f2f;
    --emphasis: #09F;
    --warn: #F50;
}

body {
    background: var(--primary-color);
    width: 100%;
}

strong {
    color: var(--emphasis);
}

input, textarea {
    outline: 0;
    border: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    padding: 10px;
    width: 100vw;
    position: sticky;
    top: 0;
}

header h1,
i {
    color: var(--emphasis);
}

header input[type="text"] {
    background: var(--primary-color);
    height: 80%;
    padding: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2.5rem 0;
    width: 100%;
}

#tarea, #result {
    display: flex;
    flex-flow: column;
    border-radius: .5rem;
    margin: 2.5rem 0;
    width: 700px;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

#result {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

table :is(td, th) {
    padding: 10px 0;
}

table tr:not(:last-of-type) :is(th, td) {
    border-bottom: 1px solid var(--secondary-color);
}

table th {
    background-color: var(--secondary-color);
    color: var(--emphasis);
}

#tarea {
    background: var(--secondary-color);
    height: 600px;
}

#tarea * {
    display: block;
    background: var(--primary-color);
    margin: 20px;
    padding: 10px;
    font-size: 1rem;
    width: calc(100% - 40px);
    transition: border .25s, transform .25s, border-radius .25s;
}

#tarea *:not([type="button"]):focus {
    transform: scale(1.025);
    border-radius: .75rem;
    border-bottom: .25rem solid var(--emphasis);
}

#tarea textarea {
    resize: none;
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);;
    min-height: 350px;
    max-height: 350px;
}

#tarea input[type="button"] {
    background: var(--emphasis);
    border-bottom: 5px solid #06D;
    cursor: pointer;
    transition: 0.25s;
}

#tarea input[type="button"]:focus {
    animation: "buttonPush" alternate;
    animation-duration: 0.5s;
}

#settings {
    float: right;
}

#mod, #del {
    padding: .5rem;
    cursor: pointer;
    filter: opacity(0);
    transition: filter .5s;
}

td:hover :is(#mod, #del) {
    filter: opacity(1);
}

#mod {
    background-color: var(--emphasis);
}

#del {
    background-color: var(--warn);
}

@keyframes buttonPush {
    0% {
    }
    50% {
        background: #07E;
        border-bottom: 0px solid;
        transform: translateY(5px);
    }
    100% {
        background: var(--emphasis);
        border-bottom: 5px solid #06D;
    }
}